{% extends 'dashboard-tpl.html.twig' %}

{% block page %}adresses{% endblock %}

{% block content %}
    <div class="tab-pane" id="address">
        <p>The following addresses will be used on the checkout page by default.</p>
        <h5 class="billing-address">Billing address</h5>
        <a href="#" class="view">Edit</a>
        <p class="mb-2"><strong>Michael M Hoskins</strong></p>
        <address>
            <span class="mb-1 d-inline-block"><strong>City:</strong> Seattle</span>,
            <br>
            <span class="mb-1 d-inline-block"><strong>State:</strong> Washington(WA)</span>,
            <br>
            <span class="mb-1 d-inline-block"><strong>ZIP:</strong> 98101</span>,
            <br>
            <span><strong>Country:</strong> USA</span>
        </address>
    </div>
{% endblock %}

