{% extends 'dashboard-tpl.html.twig' %}

{% block page %}new password{% endblock %}

{% block content %}
    <div>
        <h3>New password</h3>
        <div class="login">
            <div class="login_form_container">
                <div class="account_login_form">
                    {{ form(pwd_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}